VITE_SUPABASE_URL=https://xzoyemozzuktapakeary.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6b3llbW96enVrdGFwYWtlYXJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ2MzY2MzksImV4cCI6MjA3MDIxMjYzOX0.8mUJJ25fTl2eOuWs3CTwWhBuhVq_Ocb5yMLRHrIy8Uw